html,body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../img/EscuelaNoche.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.svg-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 100000;
}

.construction-page {
    width: 100%;
    height: 100%;
}

.construction-info {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 3, 3, 0.452);
    color: white;
    filter: none !important;
}

.information-row {
    box-shadow: 5px 5px 25px -15px rgba(211, 211, 211, 0.486);
    background-color: rgba(0, 0, 0, 0.452);
}

p,
h1,
h2,
a {
    text-shadow: 2px 2px 5px black;
}

a {
    color: white;
}

i {
    cursor: pointer;
    margin-right: 15px;
    font-size: 30px;
}