/* div img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.img-bkg {
    overflow: hidden;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;

}

